body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("../images/gameover.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* menu options */
#alloptions{
    top: 30%;
    position:relative;
    display: block;
    margin:auto;
    justify-content: center;
    align-items: center;

}

.menu_option1{
    position: relative;
    display: block;
   /*  margin: 50px; */
    margin-left: 35%;
    
}

.menu_option1 .img-top1{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    
}

.menu_option1:hover .img-top1{
    display: inline;
}
